In [36]:
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt 
import numpy as np

In [37]:
dataset = pd.read_csv('../Data_Raw/train.csv')

In [38]:
dataset.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [39]:
dataset.shape

(5847, 14)

#### a.Look for the missing values in all the columns and either impute them (replace with mean, median, or mode) or drop them. Justify your action for this task.

In [40]:
print(dataset.isnull().sum())

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [41]:
dataset['Mileage'] = dataset['Mileage'].str.replace(r'\D', '', regex=True)
dataset['Mileage'] = pd.to_numeric(dataset['Mileage'], errors='coerce')
dataset['Mileage'].fillna(dataset['Mileage'].mean(), inplace=True)

In [42]:
dataset['Power'] = dataset['Power'].str.replace(r'\D', '', regex=True)
dataset['Power'] = pd.to_numeric(dataset['Power'], errors='coerce')
dataset['Power'].fillna(dataset['Power'].mean(), inplace=True)

In [43]:
dataset['Engine'] = dataset['Engine'].str.replace(r'\D', '', regex=True)
dataset['Engine'] = pd.to_numeric(dataset['Engine'], errors='coerce')
dataset['Engine'].fillna(dataset['Engine'].mean(), inplace=True)

In [44]:
dataset['Seats'].fillna(dataset['Seats'].mean(), inplace=True)

In [45]:
dataset.drop(columns=['New_Price'], inplace=True)
print(dataset.isnull().sum())

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

### Justification:
##### i. The key features of a used car are included in the columns "Mileage," "Power," "Seats," and "Engine." When estimating an automobile's cost, condition, and performance, these characteristics tend to be crucial.
##### ii. Removing these columns would make your dataset less dimensional. Additionally, these columns can improve how comprehensible your analysis is.
##### iii.New cost  Elevated Missing Values The "New Price" data may not be current or of high quality, which could introduce noise or mistakes into our study even if you were to impute missing values.

#### b.Remove the units from some of the attributes and only keep the numerical values (forexample remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from“New_price”).

In [46]:
dataset.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,1967.0,1582.0,1262.0,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.0,1199.0,887.0,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,2077.0,1248.0,8876.0,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,152.0,1968.0,1408.0,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,2308.0,1461.0,631.0,5.0,3.50

##### In addressing question 'a' concerning missing values, it became imperative to first ensure that the dataset's numeric attributes were appropriately formatted. Hence, in tackling question 'b', the units were removed from relevant attributes like "Mileage", "Engine", "Power", and "New_price", thereby converting them into purely numeric values. This preprocessing step not only facilitated the analysis of missing values but also ensured uniformity in the dataset's numerical representation. Consequently, by resolving question 'b' beforehand, the subsequent task of identifying and handling missing values in question 'a' was conducted on a dataset with standardized numeric attributes, enabling more straightforward imputation or removal decisions based on the nature and distribution of missing data across the dataset.